*
build

!sdkconfig
!sdkconfig.old

!.gitignore
!LICENSE
!README.org

!flake.nix
!flake.lock

!config/
!config/config.lua
!config/.env.example
config/.env

!tools
!tools/*.lua

!fonts/
!fonts/**

!components/
!components/**
!CMakeLists.txt

!main/
!main/main.c
!main/CMakeLists.txt
!main/dashboard/
!main/dashboard/**.lua

!partitions.csv
