*

!.gitignore
!LICENSE
!README.org
!ARCHITECTURE.org
!THESIS.org
!TODO.org

!flake.nix
!flake.lock

!CMakeLists.txt
!sdkconfig
!sdkconfig.old
!partitions.csv
!read_monitor.sh

!config/
!config/.env.example
!config/*.lua
!config/themes/
!config/themes/*.lua
!config/layouts/
!config/layouts/*.lua
config/.env

!components/
!components/**

!main/
!main/*.c
!main/*.lua
!main/CMakeLists.txt
!main/dashboard/
!main/dashboard/*.lua

!lua/
!lua/*.lua
!lua/ui/
!lua/ui/*.lua
!lua/ui/layout/
!lua/ui/layout/*.lua
!lua/ui/display/
!lua/ui/display/*.lua
!lua/ui/data/
!lua/ui/data/*.lua
!lua/ui/feedback/
!lua/ui/feedback/*.lua
!lua/ui/composite/
!lua/ui/composite/*.lua
!lua/plugins/
!lua/plugins/*.lua
!lua/plugins/builtin/
!lua/plugins/builtin/**
!lua/plugins/custom/
!lua/plugins/custom/.gitkeep
!lua/screen_manager/
!lua/screen_manager/*.lua
!lua/touch/
!lua/touch/*.lua
!lua/store/
!lua/store/*.lua
!lua/db/
!lua/db/*.lua

!tools/
!tools/*.lua

!fonts/
!fonts/**
